<div class="page-title"><h1>Budgeting 101: Basic Concepts</h1></div>
<div class="page-heading"><h3>What Is A Budget?</h3></div>
<div class="page-body">
	<p>If you have never budgeted before (and you've never run out of money), you may be thinking "What's the point? Why should I bother spending my valuable time budgeting?"</p>
	<p>We'll answer that question, but only because it's an easy one. Your time is valuable and limited, and so you decide carefully when and where to spend that time. You are already budgeting. (See, told you it was an easy one).</p>
	<p>Budgeting is the discipline of managing valuable and limited resources. No one budgets air because it is unlimited though valuable. In the same way, no one budgets garbage because it is mostly worthless though limited.</p>
	<p>A budget, then, is a set plan for how you are going to use your limited and valuable resource over time.</p>
</div>
<div class="page-heading"><h3>Why Budget?</h3></div>
<div class="page-body">
	<p>We won't throw studies and scary numbers about financial difficulties at you. Let's build on what we started with.</p>
	<p>A budget is a plan and budgeting is the discipline of sticking to that plan. But why do you need the plan?</p>
	<p>You need the plan so that the limited and valuable resource you need is available when you need it. If it's not available, you lose control. Losing control gives way to unmet goals, anxiety and disappointment.</p>
	<p>Most people set goals. "One day I'll visit Paris." or "I'll buy a home in the next five years". Would you plan to climb a mountain in a few years and then neglect to collect the resources (physical fitness, knowledge, equipment) before your trip? Of course not. You budget the resources you can control against the timeframe you want to meet and you act on that plan.</p>
	<p>If you have goals and dreams but don't have a budget then you are setting yourself up for failure and (with failure,) anxiety. Budget in order to meet your dreams and avoid disappointment in a stress-free, controlled way.</p>
</div>
<div class="page-heading"><h3>Where do I start?</h3></div>
<div class="page-body">
	<p>Start by taking a practical look at CashZen's budgeting philosophy. It's called zero-sum budgeting. We'll dive in <%= link_to "here", "budget_102" %>.</p>
</div>