<div class="page-title"><h1>Budgeting 102: The Zero-Sum Philosophy in Three Steps</h1></div>
<div class="page-heading"><h3>Step 1: Account for Every Dollar</h3></div>
<div class="page-body">
	<p>Zero-sum philosophy is based wholly on the idea that every dollar you have is valuable and needs to be given a job. Being in command of your finances starts with controlling where your income goes.</p>
	<p>Practically, accounting for every dollar means that you can't say "I hope I end up spending less than I make." That would be "greater-than-zero-sum" budgeting, where after all of your dollars are put to work, you hope to have some cash left over. Instead of hoping you have cash left over, you will assign a job to those leftover dollars so that they are left over in a predictable, repeatable way.
</div>
<div class="page-heading"><h3>Step 2: Account for Every Expense (Past, Present, and Future)</h3></div>
<div class="page-body">
	<p>Groceries. Rent. Credit Card Payments. Savings? You have a lot of demands on your money. Knowing exactly what each dollar needs to do is critical to the zero-sum budget. Because you are accounting for every dollar, you must have a plan to handle every expense. If you suddenly need $1,200 for a new transmission, where will that money come from?</p>
	<p>A key component of zero-sum budgeting is "forecasting" - looking ahead at future expenses and giving current dollars the job of paying for that future transmission. Additionally, a healthy emergency fund (more on that in our personal finance series) can help smooth out rough patches in the road ahead.</p>
	<p>To set up your zero-sum budget, be prepared to list out every category of spending you could have, big and small, near and far in the future. This way, you will you achieve your long-term goals (your trip to Paris or the down payment on the home of your dreams) while navigating the near-term bumps. </p>
</div>
<div class="page-heading"><h3>Step 3: Understand the Role of Sacrifice</h3></div>
<div class="page-body">
	<p>Meet Sacrifice. He's occasionally ugly and frustrating, but he's got your best interests at heart if you can keep him around. He stops you from buying a new TV now because you know your car will need its 80,000 mile service in a few months. We think he's good to have around. Sacrifice is good at defeating <%= link_to "Murphy and his law", "http://en.wikipedia.org/wiki/Murphy's_law"%>. After a while, he doesn't stink so much. Without understanding Sacrifice, you won't accurately account for every expense.</p>
</div>
<div class="page-heading"><h3>What's Next?</h3></div>
<div class="page-body">
	<p>We need to understand good financial practice before we can jump into setting up your budget.</p>
	<p>If you feel like you have a good grip of personal finance best practices and rules of thumb, then it's time to put pen to paper and account for every dollar and expense. <%= link_to "Let's get started", "setup_201" %>.</p>
	<p>If "Debt-to-income ratio" and "Needs/Wants/Saves analysis" are foreign concepts to you, then you should dive into our Personal Finance course, starting with <%= link_to "Personal Finance 151: Three Types of Expenses", "personal_finance_151" %></p>
</div>