<div class="page-title"><h1>Personal Finance 151: Three Types of Expenses</h1></div>
<div class="page-heading"><h3>The Goal of Personal Finance</h3></div>
<div class="page-body">
	<p>CashZen is for budgeting, and we've said plenty to explain why you should have a budget. We said that a budget is the way to plan to have the money you need to cover your expenses, both now and in the future.</p>
	<p>So what is personal finance? When we say personal finance, we mean the set of financial strategies, best practices, and rules of thumb that ensure the stability of your budget. If a budget is meant to keep you on course for the moment, personal finance is meant to keep you on track for a lifetime.</p>
	<p>Luckily, financial experts have straightforward goals that will get you on the path to cover current and future expenses, pay down debt, save for the future, and still have some fun. To start the breakdown, let's talk through the three types of expenses. (Don't worry, they are anything but complicated.)</p>
</div>
<div class="page-heading"><h3>Needs</h3></div>
<div class="page-body">
	<p>Chances are, your expenses are primarily made up of Needs. It often takes a critical eye to pare down what is the minimum requirement (the Need) and what is beyond the minimum requirement (the want). Needs should take up less than 50% of your spending.</p>
	<p>Consider Tim and Jenna. Tim is a regional salesman for a prosthetics company. He works from his home office, where he makes phone calls and emails clients. Jenna makes custom handbags for online customers while caring for their young son, Jeb. Tim and Jenna have an internet, TV and phone bill bundled at $120.00 a month. Jenna realizes that they can save $40 dollars off the bill by subscribing to Netflix, so that Jeb has all the Shawn the Sheep he could ever want.</p>
	<p>Now answer this question: How much of Tim and Jenna's utility bill is Need? Only $80. When looking at your finances, it's easy to believe that these bills are Needs, when they have some Want built in. Be critical of your own spending to get an accurate picture.</p>
	<p>Some examples of Needs are: Rent/Mortage Payment, Utilities (minus TV!), Groceries, Gas/Transportation, Home Maintenance, and Minimum Debt Payments.</p>
</div>
<div class="page-heading"><h3>Wants</h3></div>
<div class="page-body">
	<p>Its often difficult for us to give up our Wants, and (as we saw) to accurately see the Wants hidden in other expenses.</p>
	<p>Wants are any expense that you could do without, both in the near and long term, and should make up less than 30% of our expenses. Don't be tempted to say "I want to save for a big vacation" and count dollars for the trip as Saves! Be honest with yourself or your budget will be destructive instead of constructive.</p>
	<p>Wants can be just about anything, but some big buckets are: Shopping, Travel, Charitable Giving, and Home Improvement.</p>
</div>
<div class="page-heading"><h3>Saves</h3></div>
<div class="page-body">
	<p>Saves cover our future living expenses (both needs and wants), without necessarily being given to a certain category at this time. Shoot for a savings rate of at least 20% of your income.</p>
	<p>Think about savings as "income for your future self." The goal of a retirement fund is for that fund to be your income when you don't have primary income from an occupation. Because money in savings accounts, stock and bond investments, CDs, etc. return money over time, saving a little money now can turn into serious "retirement income" later.</p>
	<p>You can also count savings as contributions to a 529 fund for your chilren's college expenses, or automatic contributions to your job's 401(k) plan because those plans are putting away money for living expenses in the future.</p>
	<p>Savings can also be for lump sum payments in the future that cover a Need. For example, you may save for a down payment on a home, an emergency fund (target about 3 months' expenses), or a new car (when you truly need one). Don't count putting aside money for an entertainment center as Savings.</p>
	<p>Finally, consider monthly debt payments above the minimum payment as savings. You may have a student loan at 6.4% and a minimum payment of $100.00. If you have $300.00 extra a month but can't invest it at a rate of return higher than 6.4%, it makes financial sense to put that $300.00 into your debt payment. Because you are "paying your future self" by getting your future self out of debt faster, you can consider that as savings.</p>
</div>
<div class="page-heading"><h3>Needs/Wants/Saves: Less than 50%, Less than 30%, More than 20%. Got It?</h3></div>
<div class="page-body">
	<p>On to the some other goals for your finances that will impact the way lenders treat you when you apply for a credit card or a home loan. It's time for <%= link_to "Personal Finance 152: Advanced Finance Goals", "personal_finance_152" %></p>
</div>