<div class="page-title"><h1>Personal Finance 152: Advanced Finance Goals</h1></div>
<div class="page-heading"><h3>Two Other Financial Metrics</h3></div>
<div class="page-body">
	<p>Planning to follow the 50/30/20 rule for Needs/Wants/Saves is a great start for personal finance, but it only looks at your present expenses. We need a way to see how our past and current actions will impact our future position.</p>
	<p>Two ways we can do this is by looking our debt-to-income ratio and our savings-rate-to-income ratio.</p>
</div>
<div class="page-heading"><h3>Debt-To-Income Ratio</h3></div>
<div class="page-body">
	<p>Debt-to-income ratio is your monthly debt payments (excluding mortgage) divided by your total monthly post-tax income. This is an important number to lenders, as they will generally not approve your loan if your ratio is higher than .36, or 36%. Note that this number looks at your minimum payments only.</p>
	<p>
</div>
<div class="page-heading"><h3>Savings-Rate-To-Income Ratio</h3></div>
<div class="page-body">
	<p>Savings-rate-to-income ratio is your monthly transfers to savings accounts divided by your total monthly post-tax income. This is a good indicator of your future financial health. A good target is 15%, but 10% may be suitable for you depending on your current debt situation.</p>
	<p>This ratio does not account for debt payments above the minimum. Though above-minimum debt payments are "paying your future self," the money is not being transferred into an account to be available in the future. In some cases, it is better to maintaion cash on hand rather than decrease your debt balance. A savings-rate-to-income ratio demonstrates that you are prepared for future lump sum payments, which may be more important financially than rapidly paying off debt.</p>
	<p>
</div>
<div class="page-heading"><h3>CashZen Monitoring of Financial Metrics</h3></div>
<div class="page-body">
	<p>You now have a good handle on 5 great personal finance rules of thumb. Following these rules and having some present and future goals to benchmark and reference will help develop your confidence in your budget and financial plan. Of course, CashZen cannot guarantee that hitting these rules of thumb will be the best for your financial future (and legally, we need to disclose that we aren't personal finance professionals).</p>
	<p>CashZen will automatically monitor these metrics as you use the service to help you adjust your spending habits. Through this, you will have assurance that you are putting yourself in a great financial position. This knowledge of what your money is doing and where it is going, and the calm that comes with it, is called CashZen.
</div>
<div class="page-heading"><h3>Let's Go!</h3></div>
<div class="page-body">
	<p>You've learned a lot. From what a budget is and why we need one to 5 metrics to ensure you are on stable financial ground with a clear path forward. It's time for <%= link_to "CashZen 201: Load your account and achieve CashZen", "setup_201" %></p>
</div>