/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require jquery.ui.datepicker
 */

@import "bourbon";
@import "grid-settings";
@import "neat";



/*All other stylesheets must be imported after this one */

* {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-weight: 300;
}

html, body {
  height: 100%;

}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -310px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
  height: 155px; /* '.push' must be the same height as 'footer' */
  @include outer-container;
  .column {
    @include span-columns(4 of 12);
    padding-bottom: 25px;
    p {
      padding-left: 1em;
      }
    ul {
      padding-left: 1em;
      margin: 0;
      list-style-type: none;
    }
  }
}

.blue-block-title {
  background-color: #5B80C2;
  padding: .2em;
}
.blue-block-body {
  background-color: #EBEFF7;
  display: block;
}


div.container {
  @include outer-container;
  .no-user-banner {
    @include outer-container;
    @include media($mobile) {
      @include span-columns(4 of 4);
    }
    h1 {
      margin-top: 4em;
      margin-bottom: 3em;
      @include media($mobile) {
        line-height: 140%;
      }
    }
  }
  .banner {
  	@include outer-container;
    #notices {
      @include span-columns(12 of 12);
    }
  	.title {
  		@include span-columns(2 of 12);
      display: inline-block;
      margin-right: 0;
      @include media($mobile) {
        @include span-columns(4 of 4);
        margin-bottom: 0;
      }
  	}
  	.nav-actions {
  		@include span-columns(10 of 12);
      display: inline-block;
      @include media($mobile) {
        @include span-columns(4 of 4);
        margin-bottom: 1em;
      }
      margin-top: 1.6em;
  		.nav-action {
  			display: inline-block;
  			@include span-columns(2 of 10);
        @include media($mobile) {
          @include span-columns(4 of 4);
        }
  		}
  	}
  }
  .no-user-container {
    @include span-columns(12 of 12);
    @include media($mobile) {
      @include span-columns(4 of 4);
    }
    text-align: center;
    .login-form {
      width: 200px;
      @include media($mobile) {
        width: 100%;
        @include span-columns(4);
      }
    }
    .login-line-item {
      margin: .5em;
    }
    .learn-more {
      margin-top: 1.5em;
      @include span-columns(12 of 12);
      @include media($mobile) {
        width: 100%;
        @include span-columns(4);
      }
    }
  }
  .content {
  	@include span-columns(9 of 12);
    margin-right: .5em;
    float: left;
  	display: inline-block;
    @include media($mobile) {
      @include span-columns(4 of 4);
      h1 {
      line-height: 120%;
      text-align: center;
      }
    }
  }
  .button-separator {
    @include span-columns(12 of 12);
    @include media($mobile) {
      width: 100%;
      @include span-columns(4);
    }
    margin-top: .75em;
      .two-centered-on-twelve {
        @include shift(5);
        @include media($mobile) {
          @include shift(0);
          width: 100%;
          @include span-columns(4);
        }
      }
  }
  aside {
  	@include span-columns(3 of 12);
  	float: right;
    margin-right: 0;
  	display: inline-block;
    @include media($mobile) {
      @include span-columns(4 of 4);
    }
    .global-transaction-form, #help-links {
    @include span-columns(3 of 3);
      @include media($mobile) {
        @include span-columns(4 of 4);
      }
      .button {
        margin-bottom: 1em;
        margin-top: .5em;
      }
    }
    #help-links {
      .link-line-item {
        @include span-columns(3 of 3);
      }
    }
    .left {
      @include span-columns(1 of 3);
      margin-right: 0;
    }
    .right {
      @include span-columns(3 of 3);
      input, select {
        @include span-columns(3 of 3);
      }
      margin: .5em 0 0 0;
      text-align: right;
    }
  }
}


.two-twelve-button {
  @include span-columns(2 of 12);
}

.two-two-button {
  @include span-columns(2 of 2);
}

.three-three-button {
  @include span-columns(3 of 3);
}

.page-title-inline {
	h2, h4 {
		display: inline;
	}
}

.block-container {
	@include outer-container;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.archive-link {
	display: inline-block;
  margin-bottom: .75em;
}

.float-right {
	float: right;
}


#budget-analysis {
  @include span-columns(9 of 9);
  .block-detail {
    @include span-columns(9 of 9);
    padding-bottom: .5em;
  }
  .analysis-line-item {
    @include span-columns(9 of 9);
    padding: .5em 0 0 .75em;
    .block-third {
      @include span-columns(3 of 9);
    }
    .block-third:last-child {
      margin-right: 0;
    }
  }
  h3 {
    font-weight: 400;
    padding-left: .5em;
    margin: .25em 0;
    color: white;
  }
}

#category-index {
  @include span-columns(9 of 9);
  #summary_analysis {
    .block-class {
      .block-detail {
        @include span-columns(9 of 9);
        padding-bottom: .5em;
      }
      display: inline;
      margin-bottom: 1em;
      .column-line-item {
        @include span-columns(9 of 9);
        padding: .5em 0 0 .75em;
        .column {
          @include span-columns(4 of 9);
        }
      }
      .new-cat-empty, .new-cat-present {
        @include span-columns(4 of 4);
        margin-right: 0;
        padding: .5em 0 0 .75em;
        display: block;
      }
    }
    .summary-block-full-container {
      display: block;
      @include span-columns(9 of 9);
    }
    .summary-block-half {
      @include span-columns(4 of 9);
      display: inline-block;
    }
    .summary-block-full {
      @include span-columns(9 of 9);
    }
    .second-half {
      margin-right: 0;
      @include shift(1);
    }
    h3 {
      font-weight: 400;
      padding-left: .5em;
      margin: .25em 0;
      color: white;
    }
  }
}

#accrued-block {
  .block-organizer {
  @include span-columns(9 of 9);
  margin-right: 0;
    .block-section {
      @include span-columns(4 of 9);
      .block-title {
        color: white;
        h3 {
          margin: 0;
          padding: .25em .25em .25em .5em;
          font-weight: 400;
        }
      }
      .block-detail {
        @include span-columns(4 of 4);
        padding-bottom: .5em;
        margin-bottom: .5em;
        .column-line-item {
          @include span-columns(4 of 4);
          .column {
            @include span-columns(2 of 4);
            padding: .5em 0 0 .75em;
            margin-right: 0;
          }
        }
      }
      h4 {
        font-weight: 400;
      }
      .left {
        @include span-columns (2 of 4);
      }
      .right {
        @include span-columns (2 of 4);
        margin-right: 0;
      }
    }
    .block-right {
      margin-right: 0;
      margin-left: 10.5%;
    } 
  }
}

#monthly-summary-block {
  .category-block {
    @include span-columns(9 of 9);
    margin-right: 0;
    margin-bottom: 1em; 
    .category-detail {
      @include span-columns(9 of 9);
      padding-bottom: .5em;
    }
    h3 {
      font-weight: 400;
      padding-left: .5em;
      margin: .25em 0;
      color: white;
    }
    h4 {
      margin: 0;
      font-weight: 400;
    }
    .column-line-item {
    @include span-columns(9 of 9);
    padding: .5em .75em 0 .75em;
      .column {
        @include span-columns(2 of 9);
        @include media($mobile) {
          @include span-columns(1);
        }
      }
    }
    .title-block {
      @include span-columns(9 of 9);
    }
  }
}

.transactions-block {
  .title-block {
    @include span-columns(9 of 9);
    color: white;
    font-weight: 400;
  }
  h4, h3 {
    font-weight: 400;
    margin: 0;
    padding-left: .5em;
    margin: .25em 0;
  }
  .detail-block {
    @include span-columns(9 of 9);
    padding-bottom: .75em;
    .in-block-center {
      text-align: center;
      @include span-columns(9 of 9);
      margin-top: 1em;
    }
    .column-line-item {
      padding: .5em .75em 0 .75em;
      display: block;
      @include span-columns(9 of 9);
      h4 {
        padding: 0;
        margin: 0;
      }
      .wide-column {
        @include span-columns(3 of 9);
        display: inline-block;
      }
      .column {
        @include span-columns(2 of 9);
        display: inline-block;
      }
      .right {
        text-align: right;
        padding-right: 1em;
      }
    }
  }
}
