/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";

/*All other stylesheets must be imported after this one */

* {
    font-family: 'Open Sans', Verdana, sans-serif;
    font-weight: 300;
}

div.container {
  @include outer-container;
}

.blue_button {
    @include button(simple, #0B7ABF);
}


.block-container {
	@include outer-container;
}

.block-half {
	@include span-columns(6);
	margin: 0;
}

.block-half-half {
	@include span-columns(3 of 6);
	margin: 0;
}

.block-third {
	@include span-columns(4);
	padding: 2em;
}

.block-sixth {
	@include span-columns(2);
}

.text-right {
	text-align: right;
}

.archive-link {
	display: inline-block;
}

.float-right {
	float: right;
}