<div class="blue-block-body block-detail">
	<% if local_categories.exists? %>
		<% local_categories.each do |category| %>
		<div class="column-line-item">
	    	<div class="column"><%= link_to category.title, category %></div>
	    	<div class="column text-right"><%= number_to_currency(category.budgets.to_a.sum(&:remaining)) %></div>
	    </div>
		<% end %>
	<% else %>
		<div class="column-line-item">
			<div class="column">No accrued savings</div>
		</div>
	<% end %>
</div>