<div class="block-half-half">Category</div>
<div class="block-half-half text-right">Saved Over Time</div>
<% if local_categories.exists? %>
	<% local_categories.each do |category| %>
    	<div class="block-half-half"><%= link_to category.title, category %></div>
    	<div class="block-half-half text-right"><%= number_to_currency(category.budgets.to_a.sum(&:remaining)) %></div>
	<% end %>
<% else %>
	<div class="block-half-half"><p>No accrued savings</p></div>
<% end %>