
<% local_categories.each do |category| %>
	<div class="summary-line-item">
        <div class="detail-block"><%= link_to category.title, category %></div>
        <div class="detail-block"><%= number_to_currency(category.monthly_spend) %></div>
    </div>
<% end %>
