<div class="blue-block-title"><h3><%= block_title %></h3></div>
<div class="blue-block-body block-detail">
    <% unless local_categories.blank? %>
        <%= render 'category_line_item', :local_categories => local_categories %>
        <div class="new-cat-present"><%= link_to "Add another category.", new_category_path(:classification => classification_title ) %></div>
    <% else %>
        <div class="new-cat-empty">No categories here yet. <%= link_to "Add one now.", new_category_path(:classification => classification_title) %></div>
    <% end %>
</div>