
<% local_categories.each do |category| %>
        <div class="block-half-half"><%= link_to category.title, category %> <%= link_to '&#8853;'.html_safe, new_transaction_path(:category_id => category.id) %></div>
        <div class="block-half-half"><%= number_to_currency(category.monthly_spend) %></div>
<% end %>
