<div id="help-links">
<h1>Achieve CashZen</h1>
  <div class="link-line-item"><%= link_to "1: Learn to Budget", "budget_101" %></div>
  <div class="link-line-item"><%= link_to "2: Learn Personal Finance", "personal_finance_151" %></div>
  <div class="link-line-item"><%= link_to "3: Budget with CashZen", "setup_201" %></div>
</div>